.body {
    height: 100vh;
    display: flex;
}

.path {
    stroke: #ffffff;
    stroke-width: 1px;
    fill: #037624;
}

.path:hover {
    fill: #06c83d;
    stroke-width: 3px;
    transition: fill 0.4s;
}
